* {
    margin: 0;
    padding: 0;
}


.parent-head-sub-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(229, 84, 115, 0.1);
}

.flower-head-info {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
}

.all-paragraph-info {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.head-btn {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 177px;
    height: 64px;
    border-radius: 8px;
    background: #E55473;
}

.head-section-image {
    width: 635px;
    height: 800px;
    flex-shrink: 0;
    margin-top: 60px;
}

.head-image {
    margin-left: 50px;
}

.main-section-info {
    text-align: center;
    margin-top: 5rem;
}

#main-section-info-style {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.main-section-info-style-common {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.main-section-image-one {
    width: 310px;
    height: 428px;
    margin-right: 20px;
    margin-top: 0rem;
}

#img-shadow-one {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.main-section-image-two {
    width: 370px;
    height: 370px;
    flex-shrink: 0;
    margin-right: 20px;

}

.main-section-image-three {
    width: 314px;
    height: 471px;
    flex-shrink: 0;
}

.main-section-image {
    text-align: center;
}

#img-shadow-two {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

#img-shadow-three {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.flower-name {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1rem;
    text-decoration: underline;
}

.main-section-two {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1440px;
    height: 320px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 0 auto;
    margin-top: 6rem;
}

.main-section-two-part-one {
    margin-right: 9rem;
}

.main-section-two-part-two {
    margin-right: 9rem;
}

img {
    margin-left: 4rem;
}

.center {
    margin-left: 50px;
}

.main-section-three {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1580px;
    height: 70vh;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 5rem;
}

.section-three-special-img {
    width: 310px;
    height: 420px;
    flex-shrink: 0;
    margin-left: 100px;
}